.git
.turbo
node_modules
**/node_modules
**/dist
**/dist-ssr
**/.cache
**/.vite
**/*.tsbuildinfo
**/*.log

apps/**/.env.local
apps/**/.env.*.local
apps/**/dist.zip

docs/.vitepress/cache
docs/.vitepress/dist
playground/dist
